body {
  background-color: red;
}

.BigGreenHeading {
  font-size: 4em;
  color: green;
}

/* if the browser window is 600px or smaller */
@media only screen and (max-width: 600px) {
  
  body {
    background-color: blue;
  }
  
  #logo {
    display: none;
  }
  
}

/* if the browser window is 481px or greater */
@media only screen and (min-width: 601px) {
  
  body {
    background-color: green;
  }
  
  
}

/* if the browser window is 768px or greater */
@media only screen and (min-width: 768px) {
  
  body {
    background-color: orange;
  }
  
  
}

/* if the browser window is 1024px or greater */
@media only screen and (min-width: 1024px) {
  
  body {
    background-color: white;
  }
  
  h1 {
    font-size: 3em;
  }
  
  
}

